In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('./netflix_titles.csv')

In [5]:
df.head()              # first 5 rows

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [6]:
df.tail(3)             # last 3 rows

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [7]:
df.shape               # (rows, columns)

(8807, 12)

In [8]:
df.info()              # summary info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [9]:
df.describe()          # statistical summary

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [10]:
df.columns             # list of columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [11]:
df.index               # row index

RangeIndex(start=0, stop=8807, step=1)

In [12]:
df.dtypes              # data types of columns

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [14]:
df.isnull().sum()      # count missing values

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [15]:
df.isnull()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,False,False,False,False,True,False,False,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,False,False
3,False,False,False,True,True,True,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,False,False,False,False,False,False,False,False,False,False,False,False
8803,False,False,False,True,True,True,False,False,False,False,False,False
8804,False,False,False,False,False,False,False,False,False,False,False,False
8805,False,False,False,False,False,False,False,False,False,False,False,False
8806,False,False,False,False,False,False,False,False,False,False,False,False

In [16]:
df['rating']

0       PG-13
1       TV-MA
2       TV-MA
3       TV-MA
4       TV-MA
        ...
8802        R
8803    TV-Y7
8804        R
8805       PG
8806    TV-14
Name: rating, Length: 8807, dtype: object

In [ ]:
df[['longitude', 'total_bedrooms']]

In [ ]:
df.iloc[1]             # first row

In [ ]:
df.loc[0]              # row with index label 1

In [ ]:
df[df['longitude'] > -120]

In [ ]:
df[(df['longitude'] > -120) & (df['latitude'] < 35)]

In [ ]:
df.sort_values('total_rooms')                 # ascending

In [ ]:
df.sort_values('total_bedrooms', ascending=False)  # descending

In [ ]:
df['house_value_IRS'] = df['median_house_value'] * 85

In [ ]:
df.head()

In [ ]:
df.drop('house_value_IRS', axis=1, inplace=True)

In [ ]:
df.drop(1, axis=0, inplace=True)

In [ ]:
df.isnull()

In [ ]:
df.fillna(0)

In [ ]:
df.dropna()

In [ ]:
from sklearn.datasets import load_iris
import pandas as pd

iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['target'] = iris.target

In [ ]:
df.groupby('target').mean()

In [ ]:
df1 = pd.read_csv('/content/sample_data/california_housing_train.csv')
df2 = pd.read_csv('/content/sample_data/california_housing_test.csv')

In [ ]:
df1.shape

In [ ]:
df2.shape

In [ ]:
pd.merge(df1, df2, on='latitude')

In [ ]:
df.columns

In [ ]:
df.rename(columns={'sepal length (cm)': 'SepLen'}, inplace=True)

In [ ]:
df1.to_csv('output.csv', index=False)

In [ ]:
df2.to_excel('output.xlsx', index=False)

In [ ]:
df['SepLen'].mean()

In [ ]:
df['SepLen'].sum()

In [ ]:
df['SepLen'].max()

In [ ]:
df['SepLen'].min()

In [ ]:
df['SepLen'].count()

In [ ]:
df['SepLen'].std()

In [ ]:
df['SepLen'].var()

In [ ]:
df

In [ ]:
df.pivot_table(values='SepLen', index='target')

In [ ]:
def add_bonus(m):
    return m + 0.01

df['New_SepLen'] = df['SepLen'].apply(add_bonus)

In [ ]:
df['New_SepWid'] = df['sepal width (cm)'].apply(lambda x: x+0.01)

In [ ]:
df['SepLen'].plot(kind='bar')